:root {
    --dark-gray: rgb(64,64,64);
    --yellow: rgb(184, 156, 48);
    --green: rgb(63, 86, 42);
    --off-white: rgb(208, 206, 206);
}

body {
    margin: 0;
    font-family: "Barlow", sans-serif;
    color: var(--dark-gray);
}

h1, h2, h3, h4 {
    font-family: "Jost", sans-serif;
    color: rgb(32, 32, 32);
}

h4 {
    margin-top: 2px;
}

nav {
    background-color: var(--dark-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.navbar {
    padding: 15px 50px;
}

.logo img {
    width: 100px;
    height: auto;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-item {
    margin-right: 20px;
}

a {
    color: var(--green);
}
a:hover {
    color: var(--yellow);
}

nav a {
    color: var(--off-white);
}
nav a:hover {
    color: var(--yellow);
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links li a {
    text-decoration: none;
    color: var(--dark-gray);
    font-weight: bold;
    transition: color 0.3s;
}

button {
    border-radius: 5px;
}

#search_button {
    background-color: antiquewhite;
    color: var(--green);
    border: 1px solid var(--dark-gray);
}

#search_button:hover { 
    background-color: var(--dark-gray);
    color: antiquewhite;
    border: 1px solid antiquewhite;
}

.center {
    text-align: center;
}

#navbarNav {
    margin-left: 140px;
}

.green {
    background-color: var(--green);
}

.drop-target {
    text-align: center;
    color: gray;
    background-color: lightgray;
    height: 350px;
    width: auto;
    z-index: 0;
}

.bottom-padding {
    padding-bottom: 20px; 
}

.bottom-margin {
    margin-bottom: 20px;
}

.light {
    color: gray;
}

.color_block {
    width: 180px;
    height: 100px;
}

.draggable {
    display: inline-block;
    margin-right: 10px;
    background-color: blue;
    z-index: 1;
  }

.padding {
    padding: 15px;
}

.order-container {
    padding: 20px;
    display: flex;
    width: max-content;
    background-color: black;
}

.reorder {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    background-color: blue;
    z-index: 1;
}

#check {
    margin-top: 80px;
}

/* COLORS */
  
.f52c10ff {
    background-color: #f52c10ff;
}

.bd0c42ff {
    background-color: #bd0c42ff;
}

.fc5f47ff {
    background-color: #fc5f47ff;
}

.ca3b1eff {
    background-color: #Ca3b1eff;
}

.fa2f56ff {
    background-color: #fa2f56ff;
}

.d72942ff {
    background-color: #d72942ff;
}
