:root {
    --dark-gray: rgb(60, 60, 60);
    --lilac: #9692d4;
    --yellow: #FFC1CC;
    --green: rgb(63, 86, 42);
    --off-white: #fff7fd;
}

body {
    margin: 0;
    font-family: "Sora", sans-serif;
    color: var(--dark-gray);
}

h1, h2, h3, h4 {
    font-family: "Unbounded", sans-serif;
    color: rgb(32, 32, 32);
}

h4 {
    margin-top: 2px;
}

img {
    border-radius: 20px;
}

.container {
    padding-bottom: 20px;
}

nav {
    background-color: var(--lilac);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.navbar {
    padding: 15px 50px 10px;
}

.logo img {
    width: 100px;
    height: auto;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-item {
    margin-right: 20px;
}

a {
    color: var(--green);
}
a:hover {
    color: var(--yellow);
}

nav a {
    color: var(--off-white);
    font-size: 14px;
}
nav a:hover {
    color: var(--yellow);
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links li a {
    text-decoration: none;
    color: var(--dark-gray);
    font-weight: bold;
    transition: color 0.3s;
}

button {
    border: 1px solid var(--yellow);
    border-radius: 5px;
}

#search_bar {
    color: var(--lilac);
    font-size: small;
    height: 34px;
}

#search_button {
    font-size: smaller;
    background-color: var(--yellow);
    color: var(--off-white);
    border: 1px solid var(--yellow);
}

#search_button:hover { 
    background-color: var(--off-white);
    color: var(--lilac);
    border: 1px solid var(--yellow);
}

.center {
    text-align: center;
}

#navbarNav {
    margin-left: 140px;
}

.green {
    background-color: var(--green);
}

.drop-target {
    text-align: center;
    color: gray;
    background-color: lightgray;
    min-height: 360px;
    padding: 20px;
    width: auto;
    z-index: 0;
}

.bottom-padding {
    padding-bottom: 20px; 
}

.bottom-margin {
    margin-bottom: 20px;
}

.light {
    color: gray;
}

.right-align {
    text-align: right;
}

.color_block {
    width: 180px;
    height: 100px;
    display: inline-block;
    margin-right: 10px;
    color: black;
    text-align: center;
    padding-top: 30px;
}

.draggable {
    background-color: blue;
    z-index: 1;
  }

.padding {
    padding: 15px;
}

.order-container {
    padding: 20px;
    display: flex;
    width: max-content;
    background-color: black;
}

.reorder {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    background-color: blue;
    z-index: 1;
}

#check {
    margin-top: 80px;
}

.subheader-left {
    position: absolute;
    padding-left: 20px;
}

.subheader-right {
    position: absolute;
    transform: translateX(-104%);
}

.image-container {
    overflow: hidden;
    position: relative;
    height: 500px;
}

.spacer {
    height: 100px;
}

.push_right {
    margin-left: 15px;
}

.tot {
    height: 360px;
    width: 270px;
    object-fit: cover;
}

.tot:hover {
    border: 2px solid var(--yellow);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.side-padding {
    padding-left: 40px;
    padding-right: 40px;
}

.purple {
    color: var(--lilac);
}

.question-title {
    padding-left: 120px;
    padding-right: 120px;
}
