<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}
    <div class="row bottom-margin">
        <div class="col-5">
            <img class="case_image" src={{data.image}} id="option1">
            <div class="case_colors">
                {% for color in data.colors %}
                    <div class="swatch" style="background-color: #{{color}};"></div>          
                {% endfor %}
            </div>
        </div>
        <div class="col-6 padding">
            <div class="bottom-margin"></div>
            <div class="col-12 padding">
                <h2>{{data.title}}</h2>
            </div>
            <div class="col-10">
                {{data.caption | safe}}

                <div class="slider"></div>

                <button class="btn btn-outline-success" id="next" type="submit">Continue</button>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block scripts %}
    <script src="{{url_for('static', filename='next_lesson.js')}}"></script>
{% endblock %}