<!DOCTYPE html>
{% extends "learn_layout.html" %}

{% block content %}
    <div class="row bottom-margin case_stud">
        <div class="col-5">
            <img class="case_image hide" id="fade_image" src={{data.fade_image}}>
            <img class="case_image" src={{data.image}} id="option1">
            <div class="case_colors">
                {% for color in data.colors %}
                    <div class="swatch" style="background-color: #{{color}};"></div>          
                {% endfor %}
            </div>
        </div>
        <div class="col-6 padding">
            <div class="bottom-margin"></div>
            <div class="col-12 padding">
                <h2>{{data.title}}</h2>
            </div>
            <div class="col-10">
                {{data.caption | safe}}

                <div class="slider">
                    <div id="square"></div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block scripts%}
    <script>
        var slide = '{{data.slide}}';
    </script>
    <script src="{{url_for('static', filename='case_study.js')}}"></script>
{% endblock %}