<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}
    <div class="center bottom-padding bottom-margin">
        <p>{{data.pre}}</p>
        <h2>{{data.question}}</h2>
    </div>

    <div class="row bottom-margin">
        <div class="col-3 center">
            <img class="tot" src={{data.image1}} id="option1">
        </div>
        <div class="col-3 center">
            <img class="tot" src={{data.image2}} id="option2">
        </div>
        <div class="col-3 center">
            <img class="tot" src={{data.image3}} id="option3">
        </div>
        <div class="col-3 center">
            <img class="tot" src={{data.image4}} id="option4">
        </div>
    </div>

    <div class="center">
        <p class="light">Score: 
            <span id="score">0</span>
            /
            <span id="total">10</span>
        </p>
    </div>
    
{% endblock %}

{% block scripts %}
    <script src="{{url_for('static', filename='four_options.js')}}"></script>
    <script>
        var ans = {{data.answer|tojson}};
        var question_id = {{data.id|tojson}}; 
    </script>
{% endblock %}