<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}
    <div class="row">

        <div class="col-3 image-container">
            <img class="subheader-left" src={{data.left_img}}>
        </div>


        <div class="col-6 center">
            <div class="spacer"></div>
            
            <h1 class="bottom-padding bottom-margin">{{data.score}}</h1>
            <div class="bottom-padding">
                <h2 class="purple">{{data.title}}</h2>
            </div>
            <p class="side-padding">{{data.description}}</p>

            <div class="spacer"></div>
        
            <div class="center">
                <button class="btn btn-outline-success" id="next" type="submit">Continue</button>
            </div>
        </div>

        <div class="col-3 image-container right-align">
            <img class="subheader-right" src={{data.right_img}}>
        </div>
    </div>
    
{% endblock %}