<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}
    <div class="center bottom-padding bottom-margin">
        <h1>{{data.title}}</h1>
    </div>

    <div class="row bottom-padding bottom-margin">
        <div class="col-3 center">
            <h3>{{data.class1}}</h3>
        </div>
        <div class="col-6"></div>
        <div class="col-3 center">
            <h3>{{data.class2}}</h3>
        </div>
    </div>

    <div class="order-container bottom-margin">
        {% for color in data.colors %}
            <div class="reorder color_block" style="background-color: #{{color}};"></div>          
        {% endfor %}
    </div>

    <div class="center">
        <button class="btn btn-outline-success" id="check" type="submit">Check</button>
    </div>
    
{% endblock %}

{% block scripts %}
    <script src="{{url_for('static', filename='reorder.js')}}"></script>
{% endblock %}